<?php 
	//  This is the url where scoop.it, after the authentication process, redirects your browser to.
	$localUrl = "YOUR ABSOLUTE LOCAL URL HERE";
	$consumerKey = "YOUR APPLICATION KEY HERE";
	$consumerSecret = "YOUR APPLICATION SECRET HERE";
?>