#scit_viewbox div,
#scit_viewbox span,
#scit_viewbox applet,
#scit_viewbox object,
#scit_viewbox iframe,
#scit_viewbox h1,
#scit_viewbox h2,
#scit_viewbox h3,
#scit_viewbox h4,
#scit_viewbox h5,
#scit_viewbox h6,
#scit_viewbox p,
#scit_viewbox blockquote,
#scit_viewbox pre,
#scit_viewbox a,
#scit_viewbox abbr,
#scit_viewbox acronym,
#scit_viewbox address,
#scit_viewbox big,
#scit_viewbox cite,
#scit_viewbox code,
#scit_viewbox del,
#scit_viewbox dfn,
#scit_viewbox em,
#scit_viewbox img,
#scit_viewbox ins,
#scit_viewbox kbd,
#scit_viewbox q,
#scit_viewbox s,
#scit_viewbox samp,
#scit_viewbox small,
#scit_viewbox strike,
#scit_viewbox strong,
#scit_viewbox sub,
#scit_viewbox sup,
#scit_viewbox tt,
#scit_viewbox var,
#scit_viewbox b,
#scit_viewbox u,
#scit_viewbox i,
#scit_viewbox center,
#scit_viewbox dl,
#scit_viewbox dt,
#scit_viewbox dd,
#scit_viewbox ol,
#scit_viewbox ul,
#scit_viewbox li,
#scit_viewbox fieldset,
#scit_viewbox form,
#scit_viewbox label,
#scit_viewbox legend,
#scit_viewbox table,
#scit_viewbox caption,
#scit_viewbox tbody,
#scit_viewbox tfoot,
#scit_viewbox thead,
#scit_viewbox tr,
#scit_viewbox th,
#scit_viewbox td,
#scit_viewbox article,
#scit_viewbox aside,
#scit_viewbox canvas,
#scit_viewbox details,
#scit_viewbox embed,
#scit_viewbox figure,
#scit_viewbox figcaption,
#scit_viewbox footer,
#scit_viewbox header,
#scit_viewbox hgroup,
#scit_viewbox menu,
#scit_viewbox nav,
#scit_viewbox output,
#scit_viewbox ruby,
#scit_viewbox section,
#scit_viewbox summary,
#scit_viewbox time,
#scit_viewbox mark,
#scit_viewbox audio,
#scit_viewbox video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

/* HTML5 display-role reset for older browsers */
#scit_viewbox article,
#scit_viewbox aside,
#scit_viewbox details,
#scit_viewbox figcaption,
#scit_viewbox figure,
#scit_viewbox footer,
#scit_viewbox header,
#scit_viewbox hgroup,
#scit_viewbox menu,
#scit_viewbox nav,
#scit_viewbox section
	{
	display: block;
}